In [1]:
#importing required libraries
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
import numpy as np

/usr/local/lib/python3.5/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
import pandas as pd
from pandas.tseries.offsets import BDay

# pd.datetime is an alias for datetime.datetime
today = pd.datetime.today()
lbd = (today - BDay(1)).date()
url = 'https://www.quandl.com/api/v3/databases/EOD/metadata?#api_key=5czsVZzyn5zaXksb31tF'
tickers = pd.read_csv(url,engine='python', compression='zip')
df = tickers.loc[tickers['to_date'] == str(lbd)].reset_index(drop=True)
df.head()

,code,name,description,refreshed_at,from_date,to_date
0,A,"Agilent Technologies Inc. (A) Stock Prices, Di...",<p><b>Ticker</b>: A</p> <p><b>Exchange</b>: NY...,2019-05-07 00:48:12,1999-11-18,2019-05-06
1,AA,"Alcoa Corporation (AA) Stock Prices, Dividends...",<p><b>Ticker</b>: AA</p> <p><b>Exchange</b>: N...,2019-05-07 00:48:32,2016-11-01,2019-05-06
2,AAAU,"Perth Mint Physical Gold (AAAU) Stock Prices, ...",<p><b>Ticker</b>: AAAU</p> <p><b>Exchange</b>:...,2019-05-07 00:48:53,2018-08-15,2019-05-06
3,AABA,"Altaba Inc. (AABA) Stock Prices, Dividends and...",<p><b>Ticker</b>: AABA</p> <p><b>Exchange</b>:...,2019-05-07 00:48:12,1996-04-12,2019-05-06
4,AAC,"AAC Holdings Inc. (AAC) Stock Prices, Dividend...",<p><b>Ticker</b>: AAC</p> <p><b>Exchange</b>: ...,2019-05-07 00:48:24,2014-10-02,2019-05-06

# Get monthly

In [6]:
from alpha_vantage.timeseries import TimeSeries
key = 'BJUEJ3R9ZM8ER5KY'
ts = TimeSeries(key=key)

In [7]:
data, meta_data = ts.get_monthly(symbol='A')
data

{'1999-12-31': {'1. open': '42.1900',
  '2. high': '80.0000',
  '3. low': '41.0000',
  '4. close': '77.3100',
  '5. volume': '47860100'},
 '2000-01-31': {'1. open': '78.7500',
  '2. high': '78.9400',
  '3. low': '58.1300',
  '4. close': '66.1900',
  '5. volume': '32103600'},
 '2000-02-29': {'1. open': '66.2500',
  '2. high': '115.4000',
  '3. low': '66.2500',
  '4. close': '103.9000',
  '5. volume': '23560800'},
 '2000-03-31': {'1. open': '104.5000',
  '2. high': '162.0000',
  '3. low': '90.0000',
  '4. close': '104.0000',
  '5. volume': '41258700'},
 '2000-04-28': {'1. open': '103.0000',
  '2. high': '125.0000',
  '3. low': '73.0600',
  '4. close': '88.6300',
  '5. volume': '32950700'},
 '2000-05-31': {'1. open': '88.6300',
  '2. high': '104.1000',
  '3. low': '54.0000',
  '4. close': '73.6300',
  '5. volume': '77277100'},
 '2000-06-30': {'1. open': '74.4400',
  '2. high': '83.7500',
  '3. low': '62.0000',
  '4. close': '73.7500',
  '5. volume': '128321200'},
 '2000-07-31': {'1. open': '74.0000',
  '2. high': '80.9400',
  '3. low': '39.5000',
  '4. close': '40.7500',
  '5. volume': '115131400'},
 '2000-08-31': {'1. open': '40.6900',
  '2. high': '64.0000',
  '3. low': '38.1900',
  '4. close': '61.0000',
  '5. volume': '91389000'},
 '2000-09-29': {'1. open': '60.6900',
  '2. high': '62.6900',
  '3. low': '44.3800',
  '4. close': '48.9400',
  '5. volume': '44178100'},
 '2000-10-31': {'1. open': '49.1300',
  '2. high': '58.6300',
  '3. low': '39.2500',
  '4. close': '46.3100',
  '5. volume': '67459500'},
 '2000-11-30': {'1. open': '46.0000',
  '2. high': '54.0000',
  '3. low': '38.0600',
  '4. close': '52.1900',
  '5. volume': '59800600'},
 '2000-12-29': {'1. open': '52.9400',
  '2. high': '59.8800',
  '3. low': '49.8800',
  '4. close': '54.7500',
  '5. volume': '50547300'},
 '2001-01-31': {'1. open': '53.8800',
  '2. high': '68.0000',
  '3. low': '47.5600',
  '4. close': '54.5500',
  '5. volume': '56503600'},
 '2001-02-28': {'1. open': '53.4000',
  '2. high': '55.0000',
  '3. low': '35.5500',
  '4. close': '36.0000',
  '5. volume': '58088200'},
 '2001-03-30': {'1. open': '35.9000',
  '2. high': '42.3800',
  '3. low': '29.6000',
  '4. close': '30.7300',
  '5. volume': '63259500'},
 '2001-04-30': {'1. open': '32.2500',
  '2. high': '41.0000',
  '3. low': '25.0000',
  '4. close': '39.0100',
  '5. volume': '46792200'},
 '2001-05-31': {'1. open': '37.9000',
  '2. high': '41.1800',
  '3. low': '32.2500',
  '4. close': '33.5400',
  '5. volume': '47883700'},
 '2001-06-29': {'1. open': '34.5000',
  '2. high': '36.4500',
  '3. low': '27.2500',
  '4. close': '32.5000',
  '5. volume': '46586800'},
 '2001-07-31': {'1. open': '32.5000',
  '2. high': '33.5000',
  '3. low': '26.2000',
  '4. close': '28.6100',
  '5. volume': '34680900'},
 '2001-08-31': {'1. open': '29.5000',
  '2. high': '32.7000',
  '3. low': '24.3000',
  '4. close': '26.5000',
  '5. volume': '38683600'},
 '2001-09-28': {'1. open': '26.3500',
  '2. high': '26.9500',
  '3. low': '18.0000',
  '4. close': '19.5500',
  '5. volume': '33454000'},
 '2001-10-31': {'1. open': '19.1500',
  '2. high': '24.7900',
  '3. low': '18.7200',
  '4. close': '22.2700',
  '5. volume': '38725900'},
 '2001-11-30': {'1. open': '22.1200',
  '2. high': '27.5900',
  '3. low': '22.0600',
  '4. close': '27.2700',
  '5. volume': '73904000'},
 '2001-12-31': {'1. open': '27.7000',
  '2. high': '30.8700',
  '3. low': '26.9000',
  '4. close': '28.5100',
  '5. volume': '48822900'},
 '2002-01-31': {'1. open': '28.5100',
  '2. high': '33.3000',
  '3. low': '27.0500',
  '4. close': '30.3500',
  '5. volume': '45625000'},
 '2002-02-28': {'1. open': '30.2200',
  '2. high': '32.0900',
  '3. low': '24.8300',
  '4. close': '31.1500',
  '5. volume': '44620200'},
 '2002-03-28': {'1. open': '31.4500',
  '2. high': '38.0000',
  '3. low': '31.4000',
  '4. close': '34.9600',
  '5. volume': '61726800'},
 '2002-04-30': {'1. open': '36.8000',
  '2. high': '36.9500',
  '3. low': '29.3900',
  '4. close': '30.0500',
  '5. volume': '63938500'},
 '2002-05-31': {'1. open': '30.0000',
  '2. high': '31.2500',
  '3. low': '25.4500',
  '4. close': '26.3700',
  '5. volume': '51988100'},
 '2002-06-28': {'1. open': '26.4900',
  '2. high': '26.5500',
  '3. low': '22.4000',
  '4. close': '23.6500',
  '5. volume': '49672400'},
 '2002-07-31': {'1. open': '23.4500',
  '2. high': '24.4700',
  '3. low': '16.0000',
  '4. close': '18.8800',
  '5. volume': '59923400'},
 '2002-08-30': {'1. open': '18.5200',
  '2. high': '18.8800',
  '3. low': '13.3300',
  '4. close': '13.4300',
  '5. volume': '60147200'},
 '2002-09-30': {'1. open': '13.3300',
  '2. high': '16.0800',
  '3. low': '12.3500',
  '4. close': '13.0600',
  '5. volume': '61847200'},
 '2002-10-31': {'1. open': '13.2500',
  '2. high': '14.2200',
  '3. low': '10.5000',
  '4. close': '13.7500',
  '5. volume': '65266900'},
 '2002-11-29': {'1. open': '13.6600',
  '2. high': '19.6500',
  '3. low': '13.1900',
  '4. close': '19.4100',
  '5. volume': '59182800'},
 '2002-12-31': {'1. open': '19.7500',
  '2. high': '20.1500',
  '3. low': '16.3500',
  '4. close': '17.9600',
  '5. volume': '43079000'},
 '2003-01-31': {'1. open': '18.2200',
  '2. high': '20.3000',
  '3. low': '15.8200',
  '4. close': '16.4800',
  '5. volume': '48482800'},
 '2003-02-28': {'1. open': '16.4800',
  '2. high': '16.8200',
  '3. low': '11.3000',
  '4. close': '13.2000',
  '5. volume': '73242000'},
 '2003-03-31': {'1. open': '13.4000',
  '2. high': '15.0000',
  '3. low': '12.1100',
  '4. close': '13.1500',
  '5. volume': '40406300'},
 '2003-04-30': {'1. open': '13.1800',
  '2. high': '16.4000',
  '3. low': '13.1500',
  '4. close': '16.0200',
  '5. volume': '37917700'},
 '2003-05-30': {'1. open': '16.0200',
  '2. high': '18.3300',
  '3. low': '15.4800',
  '4. close': '18.1300',
  '5. volume': '48586500'},
 '2003-06-30': {'1. open': '19.0000',
  '2. high': '19.9500',
  '3. low': '16.6000',
  '4. close': '19.5500',
  '5. volume': '46371200'},
 '2003-07-31': {'1. open': '19.4600',
  '2. high': '22.6400',
  '3. low': '19.3000',
  '4. close': '21.7300',
  '5. volume': '54591500'},
 '2003-08-29': {'1. open': '21.7300',
  '2. high': '25.3000',
  '3. low': '20.3100',
  '4. close': '24.3200',
  '5. volume': '41007600'},
 '2003-09-30': {'1. open': '24.4000',
  '2. high': '26.4800',
  '3. low': '22.1000',
  '4. close': '22.1100',
  '5. volume': '52277200'},
 '2003-10-31': {'1. open': '22.1500',
  '2. high': '25.3100',
  '3. low': '21.8400',
  '4. close': '24.9200',
  '5. volume': '41759900'},
 '2003-11-28': {'1. open': '24.9900',
  '2. high': '29.3500',
  '3. low': '24.9700',
  '4. close': '28.2800',
  '5. volume': '51873400'},
 '2003-12-31': {'1. open': '28.4400',
  '2. high': '29.4200',
  '3. low': '26.2920',
  '4. close': '29.2400',
  '5. volume': '48360400'},
 '2004-01-30': {'1. open': '29.2500',
  '2. high': '38.8000',
  '3. low': '28.7800',
  '4. close': '36.8600',
  '5. volume': '93438300'},
 '2004-02-27': {'1. open': '36.9500',
  '2. high': '37.6200',
  '3. low': '33.2000',
  '4. close': '34.1900',
  '5. volume': '62356700'},
 '2004-03-31': {'1. open': '34.1400',
  '2. high': '35.0000',
  '3. low': '28.8000',
  '4. close': '31.6300',
  '5. volume': '76035300'},
 '2004-04-30': {'1. open': '31.6300',
  '2. high': '32.7000',
  '3. low': '26.9100',
  '4. close': '27.0100',
  '5. volume': '50198500'},
 '2004-05-28': {'1. open': '27.0500',
  '2. high': '27.6900',
  '3. low': '23.8000',
  '4. close': '25.7000',
  '5. volume': '78831400'},
 '2004-06-30': {'1. open': '25.4500',
  '2. high': '29.6800',
  '3. low': '25.0500',
  '4. close': '29.2800',
  '5. volume': '64034900'},
 '2004-07-30': {'1. open': '29.1200',
  '2. high': '29.1500',
  '3. low': '22.6300',
  '4. close': '23.8100',
  '5. volume': '58943900'},
 '2004-08-31': {'1. open': '23.8200',
  '2. high': '24.1600',
  '3. low': '19.5100',
  '4. close': '20.5000',
  '5. volume': '66425500'},
 '2004-09-30': {'1. open': '20.4300',
  '2. high': '23.6000',
  '3. low': '20.1400',
  '4. close': '21.5700',
  '5. volume': '52931700'},
 '2004-10-29': {'1. open': '21.7000',
  '2. high': '25.3068',
  '3. low': '21.6300',
  '4. close': '25.0600',
  '5. volume': '60545900'},
 '2004-11-30': {'1. open': '24.9500',
  '2. high': '25.9000',
  '3. low': '21.9000',
  '4. close': '22.8900',
  '5. volume': '66364700'},
 '2004-12-31': {'1. open': '23.0300',
  '2. high': '24.8000',
  '3. low': '21.1800',
  '4. close': '24.1000',
  '5. volume': '39154600'},
 '2005-01-31': {'1. open': '24.1000',
  '2. high': '24.1800',
  '3. low': '21.4300',
  '4. close': '22.1100',
  '5. volume': '50620400'},
 '2005-02-28': {'1. open': '22.0100',
  '2. high': '24.5300',
  '3. low': '21.8500',
  '4. close': '24.0000',
  '5. volume': '51309100'},
 '2005-03-31': {'1. open': '24.0000',
  '2. high': '24.9900',
  '3. low': '21.7600',
  '4. close': '22.2000',
  '5. volume': '55682900'},
 '2005-04-29': {'1. open': '22.4000',
  '2. high': '22.5300',
  '3. low': '20.1100',
  '4. close': '20.7500',
  '5. volume': '54565900'},
 '2005-05-31': {'1. open': '20.7500',
  '2. high': '24.1500',
  '3. low': '20.7200',
  '4. close': '24.0100',
  '5. volume': '48276200'},
 '2005-06-30': {'1. open': '24.0100',
  '2. high': '25.0500',
  '3. low': '22.9500',
  '4. close': '23.0200',
  '5. volume': '38431800'},
 '2005-07-29': {'1. open': '23.2000',
  '2. high': '26.6300',
  '3. low': '23.1300',
  '4. close': '26.2400',
  '5. volume': '40613300'},
 '2005-08-31': {'1. open': '26.2300',
  '2. high': '32.2200',
  '3. low': '25.1800',
  '4. close': '32.1600',
  '5. volume': '95651200'},
 '2005-09-30': {'1. open': '31.9100',
  '2. high': '34.4500',
  '3. low': '31.8800',
  '4. close': '32.7500',
  '5. volume': '78593100'},
 '2005-10-31': {'1. open': '32.8300',
  '2. high': '33.3000',
  '3. low': '29.9700',
  '4. close': '32.0100',
  '5. volume': '59232500'},
 '2005-11-30': {'1. open': '32.0100',
  '2. high': '35.8100',
  '3. low': '31.9000',
  '4. close': '35.6600',
  '5. volume': '76404500'},
 '2005-12-30': {'1. open': '35.6600',
  '2. high': '36.1000',
  '3. low': '33.0900',
  '4. close': '33.2900',
  '5. volume': '107817900'},
 '2006-01-31': {'1. open': '33.4000',
  '2. high': '35.2500',
  '3. low': '32.8151',
  '4. close': '33.9100',
  '5. volume': '54075600'},
 '2006-02-28': {'1. open': '33.8000',
  '2. high': '36.7400',
  '3. low': '33.5200',
  '4. close': '36.0000',
  '5. volume': '59461700'},
 '2006-03-31': {'1. open': '36.1000',
  '2. high': '38.1400',
  '3. low': '35.7500',
  '4. close': '37.5500',
  '5. volume': '59893400'},
 '2006-04-28': {'1. open': '37.9000',
  '2. high': '39.5400',
  '3. low': '36.1100',
  '4. close': '38.4200',
  '5. volume': '42379500'},
 '2006-05-31': {'1. open': '38.5500',
  '2. high': '39.4500',
  '3. low': '33.4800',
  '4. close': '34.8900',
  '5. volume': '67262100'},
 '2006-06-30': {'1. open': '34.7000',
  '2. high': '35.6100',
  '3. low': '29.8400',
  '4. close': '31.5600',
  '5. volume': '71029800'},
 '2006-07-31': {'1. open': '31.7400',
  '2. high': '32.0000',
  '3. low': '27.4700',
  '4. close': '28.4400',
  '5. volume': '60429800'},
 '2006-08-31': {'1. open': '28.3200',
  '2. high': '32.3300',
  '3. low': '26.9600',
  '4. close': '32.1600',
  '5. volume': '53617800'},
 '2006-09-29': {'1. open': '32.1600',
  '2. high': '33.4020',
  '3. low': '30.3100',
  '4. close': '32.6900',
  '5. volume': '55598300'},
 '2006-10-31': {'1. open': '32.5000',
  '2. high': '35.8100',
  '3. low': '32.0500',
  '4. close': '35.6000',
  '5. volume': '50905200'},
 '2006-11-30': {'1. open': '33.5500',
  '2. high': '35.1500',
  '3. low': '31.7100',
  '4. close': '31.8400',
  '5. volume': '74111700'},
 '2006-12-29': {'1. open': '31.9700',
  '2. high': '35.6900',
  '3. low': '31.6800',
  '4. close': '34.8500',
  '5. volume': '47362600'},
 '2007-01-31': {'1. open': '34.9900',
  '2. high': '35.4800',
  '3. low': '31.8700',
  '4. close': '32.0000',
  '5. volume': '46089400'},
 '2007-02-28': {'1. open': '32.1700',
  '2. high': '34.1500',
  '3. low': '31.2400',
  '4. close': '31.7500',
  '5. volume': '62754100'},
 '2007-03-30': {'1. open': '31.1500',
  '2. high': '33.9600',
  '3. low': '30.2600',
  '4. close': '33.6900',
  '5. volume': '62035800'},
 '2007-04-30': {'1. open': '33.6300',
  '2. high': '35.8000',
  '3. low': '33.4900',
  '4. close': '34.3700',
  '5. volume': '55277400'},
 '2007-05-31': {'1. open': '34.4800',
  '2. high': '38.9700',
  '3. low': '34.4000',
  '4. close': '38.1700',
  '5. volume': '69771200'},
 '2007-06-29': {'1. open': '38.2300',
  '2. high': '39.4400',
  '3. low': '36.9400',
  '4. close': '38.4400',
  '5. volume': '42340800'},
 '2007-07-31': {'1. open': '38.7000',
  '2. high': '40.4200',
  '3. low': '37.2600',
  '4. close': '38.1500',
  '5. volume': '49540900'},
 '2007-08-31': {'1. open': '38.0500',
  '2. high': '39.0000',
  '3. low': '31.1500',
  '4. close': '36.4000',
  '5. volume': '76099800'},
 '2007-09-28': {'1. open': '36.5900',
  '2. high': '37.5300',
  '3. low': '35.7600',
  '4. close': '36.8800',
  '5. volume': '35722800'},
 '2007-10-31': {'1. open': '36.9700',
  '2. high': '39.3200',
  '3. low': '35.4400',
  '4. close': '36.8500',
  '5. volume': '38861500'},
 '2007-11-30': {'1. open': '36.6700',
  '2. high': '38.1400',
  '3. low': '32.8700',
  '4. close': '37.8300',
  '5. volume': '52180500'},
 '2007-12-31': {'1. open': '37.4800',
  '2. high': '38.2400',
  '3. low': '34.9800',
  '4. close': '36.7400',
  '5. volume': '39541300'},
 '2008-01-31': {'1. open': '36.6700',
  '2. high': '37.8300',
  '3. low': '31.2600',
  '4. close': '33.8600',
  '5. volume': '74045700'},
 '2008-02-29': {'1. open': '34.0000',
  '2. high': '34.8600',
  '3. low': '30.4800',
  '4. close': '30.6100',
  '5. volume': '81940600'},
 '2008-03-31': {'1. open': '30.6700',
  '2. high': '31.2900',
  '3. low': '28.8800',
  '4. close': '29.8300',
  '5. volume': '53015100'},
 '2008-04-30': {'1. open': '29.9100',
  '2. high': '31.9900',
  '3. low': '28.7900',
  '4. close': '30.2100',
  '5. volume': '48312600'},
 '2008-05-30': {'1. open': '30.2000',
  '2. high': '37.5000',
  '3. low': '29.8900',
  '4. close': '37.3900',
  '5. volume': '62460500'},
 '2008-06-30': {'1. open': '36.9300',
  '2. high': '38.0000',
  '3. low': '35.3500',
  '4. close': '35.5400',
  '5. volume': '60364600'},
 '2008-07-31': {'1. open': '35.0400',
  '2. high': '36.9200',
  '3. low': '34.4000',
  '4. close': '36.0600',
  '5. volume': '57988700'},
 '2008-08-29': {'1. open': '36.1400',
  '2. high': '37.2500',
  '3. low': '34.2300',
  '4. close': '34.7600',
  '5. volume': '41695300'},
 '2008-09-30': {'1. open': '35.0900',
  '2. high': '35.7000',
  '3. low': '28.6400',
  '4. close': '29.6600',
  '5. volume': '64919700'},
 '2008-10-31': {'1. open': '29.1800',
  '2. high': '29.9200',
  '3. low': '18.7500',
  '4. close': '22.1900',
  '5. volume': '78802800'},
 '2008-11-28': {'1. open': '22.1300',
  '2. high': '25.0700',
  '3. low': '15.7800',
  '4. close': '18.8300',
  '5. volume': '58283400'},
 '2008-12-31': {'1. open': '18.4200',
  '2. high': '18.4200',
  '3. low': '14.7600',
  '4. close': '15.6300',
  '5. volume': '124345500'},
 '2009-01-30': {'1. open': '15.6000',
  '2. high': '20.0400',
  '3. low': '15.5100',
  '4. close': '18.0800',
  '5. volume': '102681300'},
 '2009-02-27': {'1. open': '17.7900',
  '2. high': '19.6900',
  '3. low': '13.8000',
  '4. close': '13.8700',
  '5. volume': '85762200'},
 '2009-03-31': {'1. open': '13.6000',
  '2. high': '17.1800',
  '3. low': '12.0200',
  '4. close': '15.3700',
  '5. volume': '87628800'},
 '2009-04-30': {'1. open': '15.1200',
  '2. high': '18.9400',
  '3. low': '15.0200',
  '4. close': '18.2600',
  '5. volume': '72704400'},
 '2009-05-29': {'1. open': '18.2100',
  '2. high': '19.4200',
  '3. low': '17.2600',
  '4. close': '18.2300',
  '5. volume': '56733000'},
 '2009-06-30': {'1. open': '18.4400',
  '2. high': '20.5600',
  '3. low': '18.1700',
  '4. close': '20.3100',
  '5. volume': '70640400'},
 '2009-07-31': {'1. open': '20.3700',
  '2. high': '23.8900',
  '3. low': '18.5000',
  '4. close': '23.2200',
  '5. volume': '74581300'},
 '2009-08-31': {'1. open': '23.6100',
  '2. high': '26.0500',
  '3. low': '23.1400',
  '4. close': '25.6800',
  '5. volume': '82995000'},
 '2009-09-30': {'1. open': '25.5100',
  '2. high': '29.3800',
  '3. low': '24.9600',
  '4. close': '27.8300',
  '5. volume': '87127600'},
 '2009-10-30': {'1. open': '26.6300',
  '2. high': '27.7500',
  '3. low': '24.6100',
  '4. close': '24.7400',
  '5. volume': '68288900'},
 '2009-11-30': {'1. open': '24.7400',
  '2. high': '29.7092',
  '3. low': '24.6900',
  '4. close': '28.9200',
  '5. volume': '54959300'},
 '2009-12-31': {'1. open': '29.1000',
  '2. high': '31.7700',
  '3. low': '28.9800',
  '4. close': '31.0700',
  '5. volume': '54793500'},
 '2010-01-29': {'1. open': '31.3900',
  '2. high': '31.6300',
  '3. low': '27.9200',
  '4. close': '28.0300',
  '5. volume': '57197100'},
 '2010-02-26': {'1. open': '28.1600',
  '2. high': '31.5200',
  '3. low': '28.1300',
  '4. close': '31.4600',
  '5. volume': '77441600'},
 '2010-03-31': {'1. open': '31.4300',
  '2. high': '34.7500',
  '3. low': '31.4300',
  '4. close': '34.3900',
  '5. volume': '85947100'},
 '2010-04-30': {'1. open': '34.5400',
  '2. high': '37.4300',
  '3. low': '33.5494',
  '4. close': '36.2600',
  '5. volume': '76023600'},
 '2010-05-28': {'1. open': '36.5000',
  '2. high': '36.8900',
  '3. low': '29.9700',
  '4. close': '32.3600',
  '5. volume': '89200600'},
 '2010-06-30': {'1. open': '32.0900',
  '2. high': '33.3700',
  '3. low': '28.3200',
  '4. close': '28.4300',
  '5. volume': '72778000'},
 '2010-07-30': {'1. open': '28.5000',
  '2. high': '29.7300',
  '3. low': '26.7400',
  '4. close': '27.9300',
  '5. volume': '82491000'},
 '2010-08-31': {'1. open': '28.3500',
  '2. high': '29.8700',
  '3. low': '26.6800',
  '4. close': '26.9700',
  '5. volume': '75721100'},
 '2010-09-30': {'1. open': '27.4500',
  '2. high': '33.5400',
  '3. low': '27.4300',
  '4. close': '33.3700',
  '5. volume': '68056800'},
 '2010-10-29': {'1. open': '33.6900',
  '2. high': '35.3300',
  '3. low': '32.2900',
  '4. close': '34.8000',
  '5. volume': '65063300'},
 '2010-11-30': {'1. open': '34.9400',
  '2. high': '37.5500',
  '3. low': '34.3800',
  '4. close': '35.0200',
  '5. volume': '63843000'},
 '2010-12-31': {'1. open': '35.6500',
  '2. high': '42.0800',
  '3. low': '35.6100',
  '4. close': '41.4300',
  '5. volume': '74448800'},
 '2011-01-31': {'1. open': '41.5600',
  '2. high': '44.4500',
  '3. low': '40.8800',
  '4. close': '41.8300',
  '5. volume': '64333300'},
 '2011-02-28': {'1. open': '42.0700',
  '2. high': '45.4150',
  '3. low': '39.9400',
  '4. close': '42.0800',
  '5. volume': '80894800'},
 '2011-03-31': {'1. open': '41.9800',
  '2. high': '46.8100',
  '3. low': '40.3600',
  '4. close': '44.7800',
  '5. volume': '99249600'},
 '2011-04-29': {'1. open': '44.8800',
  '2. high': '50.6800',
  '3. low': '44.2600',
  '4. close': '49.9100',
  '5. volume': '64072700'},
 '2011-05-31': {'1. open': '50.2500',
  '2. high': '55.3300',
  '3. low': '48.1300',
  '4. close': '49.8700',
  '5. volume': '79257900'},
 '2011-06-30': {'1. open': '49.7900',
  '2. high': '51.9900',
  '3. low': '46.3800',
  '4. close': '51.1100',
  '5. volume': '77248700'},
 '2011-07-29': {'1. open': '51.2300',
  '2. high': '52.6200',
  '3. low': '41.2900',
  '4. close': '42.1600',
  '5. volume': '82633000'},
 '2011-08-31': {'1. open': '42.6200',
  '2. high': '42.7800',
  '3. low': '30.2200',
  '4. close': '36.8700',
  '5. volume': '161036800'},
 '2011-09-30': {'1. open': '36.8000',
  '2. high': '37.4100',
  '3. low': '30.7300',
  '4. close': '31.2500',
  '5. volume': '115780900'},
 '2011-10-31': {'1. open': '30.9000',
  '2. high': '41.0500',
  '3. low': '28.6700',
  '4. close': '37.0700',
  '5. volume': '122237200'},
 '2011-11-30': {'1. open': '35.2400',
  '2. high': '39.3900',
  '3. low': '33.2150',
  '4. close': '37.5000',
  '5. volume': '87117500'},
 '2011-12-30': {'1. open': '37.3000',
  '2. high': '38.5800',
  '3. low': '32.5100',
  '4. close': '34.9300',

In [ ]:
data, meta_data = ts.get_daily(symbol='A', outputsize='full')

In [ ]:
data = pd.DataFrame(data['4. close'])
data.columns = ['close']
data.head()

In [ ]:
dataset = data.values

In [ ]:
data.shape

In [ ]:
train = dataset[0:4000,:]
valid = dataset[4000:,:]

In [ ]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(dataset)

In [ ]:
x_train, y_train = [], []
for i in range(60,len(train)):
    x_train.append(scaled_data[i-60:i,0])
    y_train.append(scaled_data[i,0])
x_train, y_train = np.array(x_train), np.array(y_train)

In [ ]:
x_train = np.reshape(x_train, (x_train.shape[0],x_train.shape[1],1))

In [ ]:
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(x_train.shape[1],1)))
model.add(LSTM(units=50))
model.add(Dense(1))

In [ ]:
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(x_train, y_train, epochs=1, batch_size=1, verbose=2)

In [ ]:
#predicting 246 values, using past 60 from the train data
inputs = data[len(data) - len(valid) - 60:].values
inputs = inputs.reshape(-1,1)
inputs  = scaler.transform(inputs)

In [ ]:
X_test = []
for i in range(60,inputs.shape[0]):
    X_test.append(inputs[i-60:i,0])
X_test = np.array(X_test)

In [ ]:
inputs.shape[0]

In [ ]:
X_test = np.reshape(X_test, (X_test.shape[0],X_test.shape[1],1))

In [ ]:
closing_price = model.predict(X_test)
closing_price = scaler.inverse_transform(closing_price)

In [ ]:
rms=np.sqrt(np.mean(np.power((valid-closing_price),2)))
rms

In [ ]:
#for plotting
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 5]

valid = data.tail(896)
valid['Predictions'] = closing_price
plt.plot(valid[['close','Predictions']])

In [ ]:
valid['close_dif'] = valid['close'].diff()
valid['pred_dif'] = valid['Predictions'].diff()
valid.head()

In [ ]:
valid['type'] = 0
k = valid.loc[(valid['close_dif']>0) & (valid['pred_dif']>0)].index
valid.at[k,'type'] = 1
k = valid.loc[(valid['close_dif']<0) & (valid['pred_dif']<0)].index
valid.at[k,'type'] = 1

In [ ]:
valid.head()

In [ ]:
valid['type'].sum()/valid.shape[0]

In [ ]:
train = data.iloc[0:4000]
valid = data.iloc[4001:]

In [ ]:
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [ ]:
driver = webdriver.Chrome()

In [ ]:
url = 'https://www.netfonds.no/quotes/exchange.php?exchange=O'
browser = webdriver.Chrome()

In [ ]:
soup = BeautifulSoup(website_url,'lxml')

In [ ]:
My_table = soup.find('table',{'class':'com'})

In [ ]:
My_table

In [ ]:
ti = My_table.findAll('tr')
ti

In [ ]:
import pandas as pd
# BDay is business day, not birthday...
from pandas.tseries.offsets import BDay

# pd.datetime is an alias for datetime.datetime
today = pd.datetime.today()
lbd = (today - BDay(1)).date()

In [ ]:
df = tickers.loc[tickers['to_date'] == str(lbd)].reset_index(drop=True)
temp = df.head(100)

In [ ]:
yf = YahooFinancials('ABBV')
yf.get_prev_close_price()

In [ ]:
temp.iloc[21]['closing']

In [ ]:
from yahoofinancials import YahooFinancials
from multiprocessing import Pool

t = temp['code']

def f(x):
    yf = YahooFinancials(x)
    return yf.get_prev_close_price()

if __name__ == '__main__':
    with Pool(8) as p:
        closing = p.map(f, t)

temp['closing'] = closing
print('done')

In [ ]:
maxprice = 20
df = temp.loc[temp['closing']<maxprice].reset_index(drop=True)

In [ ]:
df

In [ ]:
import requests
import io
import pandas as pd
import quandl
from datetime import datetime, date,  timedelta

In [ ]:
from yahoofinancials import YahooFinancials
import pandas as pd

In [ ]:
from yahoofinancials import YahooFinancials

ticker = ['AAPL', 'AA']
test = YahooFinancials(ticker)

In [ ]:
d = test.get_historical_price_data('2019-01-01','2019-01-31', 'daily')

In [ ]:
for i in d.keys():
    print(pd.DataFrame(d[i]['prices']))
    break

In [ ]:
d['AA']

In [ ]:
pd.DataFrame.from_dict(d,orient='index')

In [ ]:
def dater(x):
    try:
        return datetime.strptime(x, '%Y-%m-%d').date() 
    except:
        return None

In [ ]:
backup = tickers.copy()

In [ ]:
tickers = backup.copy()

In [ ]:
yesterday = datetime.today().date()-timedelta(1)
tickers['from_date'] = [dater(x) for x in tickers['from_date']]
tickers['to_date'] = [dater(x) for x in tickers['to_date']]
k = [x == yesterday for x in tickers['to_date']]
tickers = tickers.iloc[k].reset_index(drop=True)
tickers.head()

In [ ]:
tickers.shape

In [ ]:
[x[44:53] for x in tickers['description']]

In [ ]:
tickers['description'][0]

In [ ]:
datetime.datetime.strptime(tickers['from_date'][0], '%Y-%m-%d').date()